body{
    font-family: Arial, sans-serif;
    background:#340f8b;
}

.container{
    width:800px;
    margin:auto;
    margin-top:30px;
    background:rgb(111, 111, 225);
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,.2);
}

h1{
    text-align:center;
}

.form{
    display:flex;
    gap:10px;
    margin-bottom:20px;
}

input,
select,
button{
    padding:10px;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-bottom:20px;
}

table,
th,
td{
    border:1px solid #ccc;
}

th,
td{
    padding:10px;
    text-align:center;
}

button{
    cursor:pointer;
    background:#2196F3;
    color:white;
    border:none;
    border-radius:5px;
}

button:hover{
    background:#0b7dda;
}

.deleteBtn{
    background:red;
}